/* frames for animation */
@keyframes fadeIn {
    from { 
        opacity: 100;
        transform: translateY(-20px);
    }
    to { 
        opacity: 100;
        transform: translateY(0);
    }
}

/*fade in effect for the main content */
main {
    animation: fadeIn .5s ease-out;
    font-size: 5;
    font-weight: 1;
}

.track-title {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 20px;
}