/* FadeInLeftToRight animation */
@keyframes fadeInLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Login page specific styles */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 1200px;
    width: 100%;
    z-index: 1;
}

.welcome-box {
    color: #e0e0e0;
    text-align: left;
    font-size: 1.7em;
    font-weight: bold;
    padding: 40px;
    background-color: rgba(44, 44, 44, 0.8);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.welcome-container {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 0.9em;
    font-weight: 270;
}

.form-box {
    background-color: rgba(44, 44, 44, 0.8);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.typing-text {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #e0e0e0;
}

.fade-in {
    animation: fadeInLeftToRight 1s ease forwards;
    opacity: 0;
}

/* Responsive design */
@media (max-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .welcome-box {
        display: none;
    }
}
